ion-card-title {
  font-size: 1.2em;
}
ion-card {
  margin: 0em;
}
ion-card-content {
  padding: 0.7em;
  padding-bottom: 0;
}

ion-card ion-button {
  font-size: 0.3em;
  height: 5em;
  margin: 0px;
}

