<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/articulos"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="ion-margin-top">Remera manga larga</ion-title>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-img src="https://via.placeholder.com/1600x900"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-img src="https://via.placeholder.com/200x200"></ion-img>
      </ion-col>
      <ion-col size="3">
        <ion-img src="https://via.placeholder.com/200x200"></ion-img>
      </ion-col>
      <ion-col size="3">
        <ion-img src="https://via.placeholder.com/200x200"></ion-img>
      </ion-col>
      <ion-col size="3">
        <ion-img src="https://via.placeholder.com/200x200"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="ion-margin-start ion-margin-end" color="success" expand="block" shape="round">
    Agregar al carrito
  </ion-button>
</ion-content>