<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!showSearchbar">Clientes</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" (ionCancel)="showSearchbar = false"
      placeholder="Buscar articulo">
    </ion-searchbar>
    <ion-buttons *ngIf="!showSearchbar" slot="end">
      <ion-button (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $160
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    <ion-item button routerLink="/app/tabs/clientes/cliente-detalle/1">
      <ion-label>
        <h2>Aelohim Ponce</h2>
        <p>Cabaña serrana</p>
      </ion-label>
      <ion-note slot="end">
        $1600
      </ion-note>
    </ion-item>
    
  </ion-list>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="onClickAddUserButton()">
      <ion-icon name="person-add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>