<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/clientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Aelohim Ponce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <ion-icon name="home-sharp" slot="start"></ion-icon>
      <ion-label>
        Av. Serrana, La punta
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        aelo23@infovia.net
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="call-sharp" slot="start"></ion-icon>
      <ion-label>
        2664112233
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>14/05/20</ion-label>
    </ion-item-divider>

    <ion-item lines="none">
      <ion-label>Remera manga larga</ion-label>
      <ion-note color="secondary" slot="end">$1600</ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Efectivo</ion-label>
      <ion-note color="success" slot="end">$800</ion-note>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>17/05/20</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-label>Efectivo</ion-label>
      <ion-note color="success" slot="end">$800</ion-note>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>14/05/20</ion-label>
    </ion-item-divider>

    <ion-item lines="none">
      <ion-label>Remera manga larga</ion-label>
      <ion-note color="secondary" slot="end">$1600</ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Efectivo</ion-label>
      <ion-note color="success" slot="end">$800</ion-note>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>17/05/20</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-label>Efectivo</ion-label>
      <ion-note color="success" slot="end">$800</ion-note>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>14/05/20</ion-label>
    </ion-item-divider>

    <ion-item lines="none">
      <ion-label>Remera manga larga</ion-label>
      <ion-note color="secondary" slot="end">$1600</ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Efectivo</ion-label>
      <ion-note color="success" slot="end">$800</ion-note>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>17/05/20</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-label>Efectivo</ion-label>
      <ion-note color="success" slot="end">$800</ion-note>
    </ion-item>
  </ion-item-group>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="onClickPagoButton()">
      <ion-icon name="logo-usd"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>