<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/clientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Aelohim Ponce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="saldo-actual" color="primary">
    <h3>Saldo</h3>
    <h1>$1600</h1>
  </ion-text>
  <form action="">
    <ion-list>
      <ion-item>
        <ion-label>Monto $:</ion-label>
        <ion-input type="number" placeholder="Awesome Input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Medio de pago</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Efectivo</ion-select-option>
          <ion-select-option value="m">Mercado Pago</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>


</ion-content>